* {
    font-family: 'Bellota Text', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Source Sans Pro', sans-serif;

}

body {
    height: 1600px;
}

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #031e71;
    font-weight: 600;
    font-size: 16px;
}

.header__categories {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo__area {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo__image {

    width: 50px;
    margin-top: 10px;
}

.logo__name {
    color: #031e71;
    font-size: 30px;
}

.get__in__touch-button {
    border: none;
    background-color: #031e71;
    color: white;
    border-radius: 10px;
    height: 35px;
    font-size: 15px;
    width: 140px;
}

.banner__area {
    background-color: #031e71;
    height: 615px;
    color: rgb(255, 254, 254);


}

.banner__title__area {
    position: relative;
    top: 50px;
}

.banner_title {
    font-size: 90px;
    line-height: 80%;
}

.banner__subtitle {
    margin-top: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.learn__more__button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    color: #031e71;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.banner__image {
    position: absolute;
    right: 0px;
    width: 100px;
    height: 647.5px;
}

.watch__intro {
    border: none;
    color: white;
    margin-left: 20px;
    background-color: transparent;
    font-weight: 600;
}

.fa-angle-right {
    color: rgb(255, 174, 0);
    cursor: pointer;
    position: relative;
    top: 2px;
}

.connect__banner {
    font-family: 'Nagoda';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 129.9%;
    color: #031e71;

}

.connect__banner__area {
    position: relative;
    padding: 10px;
    left: 300px;
    height: 150.78px;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 210px 210px 160px 190px 200px 200px;
    margin-top: 30px;
}

.grid-item {
    position: relative;
    left: 120px;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #031E71;
    border-right: 1px solid rgba(245, 207, 19, 0.8);
}


.vector__1 {
    position: relative;
    left: 500px;
    bottom: 50px;
    width: 230px;
    height: 180px;
}

.vector-2 {
    position: relative;
    top: 50px;
    float: right;
    width: 200px;
    height: 250px;

}

.vector-3 {
    position: relative;
    width: 300px;
    height: 200px;
    top: 80px;
    left: 150px;
    z-index: -1;
}

.service__banner {
    background-color: #031e71;
    color: white;

    height: 600px;
}

.banner2__image {
    width: 684px;
    height: 600px;
}

.banner2_title {
    font-size: 70px;
    line-height: 100%;
    position: relative;
    left: 20px;
    display: flex;
    bottom: 20px;
    align-items: center;
}

.buy__button {
    position: relative;
    border: none;
    background-color: white;
    color: #031e71;
    bottom: 80px;
    left: 170px;
    padding: 3px;
    border-radius: 10px;
    font-size: 18px;
    height: 40px;
    font-weight: 600;
    width: 300px;
}

.categories__container {
     color: #031e71;

    font-size: 20px;
 
}

.categories_subtitle {
    font-size: 72px;
    color: #329992;
    font-style: normal;
    font-weight: 400;
    line-height: 84.9%;
}
.categories__desc{
    width: 770px;
}


.arrows{
    margin-right: 20px;
    float: right;
    margin-top:90px;
    width: 50px;
    background-color:#031f7128;
    border-radius: 50%;
    cursor:pointer;
     
}
.categories__name {
    font-weight: 600;
}
.slider__area{
    display: flex;
    margin-top:20px;
}
.card{
    width:350px;
    margin-right: 50px;
}
.card-title{
    font-size: 26px;
    color: #031e71;
    font-weight: 600;
}
.card-text{
    font-size: 16px;
    color: #329992;
    font-weight: 500;
}
.price{
color:#031e71;
font-weight: 500;
}
.apply__button{
    border:1px solid #031e71;
    background-color: transparent;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-top:20px;
    color: #031e71;
    font-weight: 600;
    font-size: 14px;
}
.vl__apart{
    margin-right: 39px;
    border-left: 0.4px solid rgb(251, 168, 26);
    height: 500px;
}
.vl__land {
    margin-right: 39px;
    border-left: 1px solid green;
    height: 500px;
  }

.categories__bg-color{
    background-color: #EDF4F4;
    ;
}


























footer {
    background-color: aquamarine;
}

@media only screen and (max-width:900px) {
    .header {
        font-size: 10px;
        display: block;
        margin-left: 200px;
    }

    .header__categories {
        position: relative;
        left: 20px;
    }

    .get__in__touch-button {
        font-size: 10px;
        height: 20px;
        width: 80px;

    }

    .banner_title {
        font-size: 60px;

    }

    .banner__subtitle {
        margin-top: 50px;
        font-size: 15px;

    }

    .banner__image {
        position: absolute;
        right: 0px;
        width: 550px;
        height: 647.5px;
        display: none;

    }

    .vector__1 {
        width: 160px;
        height: 160px;
        bottom: 20px;
        left: 200px;
    }

    .grid-container {
        display: block;
        grid-template-columns: 0px 0px 0px 0px 0px 0px;
        position: absolute;
        top: 1200px;

    }

    .grid-item {
        position: relative;
        left: 0px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 15px;
        font-weight: 600;
        color: #031E71;
        border-bottom: 1px solid rgba(192, 154, 1, 0.473);
        border-right: 0px;
    }

    .connect__banner {
        position: absolute;
        padding: 10px;
        left: 80px;
        top: 930px;

    }

}